*{
    margin: 0;
    padding: 0;
    border: 0;
}
header{
background-color: rgb(92, 92, 92);
color: white;
text-align: center;
padding: 40px;
}
main{
text-align: center;
padding-top: 50px;
}
footer{
    background-color: rgb(92, 92, 92);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw; padding: 40px;
}